main {
    cursor: none;
    overflow-x: hidden;
}  

.items{
    border-color: #34547E;
}

/* .bg{
    background-image: url('../../../../public/bggg.jpg');
    background-size: 100% 100%;
    z-index: -20 !important;
} */

@media (max-width:700px) {
    .bg{
        background-size: cover !important;
        background-repeat: no-repeat;
        background-position: 50% ;
    }
}

.cursor {
    position: fixed;
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: background-color .1s ease-out, transform 0.3s ease;
    /* Added transition for scaling */
    mix-blend-mode: difference;
    z-index: 99;
}

.content {
    font-family: "Prompt", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* .btnShadow {
    background: rgb(12, 116, 143);
    background: linear-gradient(90deg, rgba(12, 116, 143, 1) 16%, rgba(11, 114, 99, 1) 53%, rgba(3, 51, 75, 0.9894082633053222) 82%);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px !important;
}

.btnShadow:hover {
    background: rgb(8, 13, 102);
    background: linear-gradient(90deg, rgba(8, 13, 102, 1) 29%, rgba(106, 135, 170, 1) 98%);
} */

.slideright {
    animation-name: slideRight;
    animation-duration: 2.5s;
    transition: all 2.5s ease-out;
    animation-fill-mode: both;
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: translateX(-600px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* .pointing {
    animation-name: Moving;
    transition: all 3s ease-in-out;
    animation-duration: 3s;
    animation-iteration-count: infinite;
} */

.socialLinks i {
    transition: all .4s ease-in;
}

.socialLinks i:hover {
    scale: 1.5;
}

/* @keyframes Moving {
    from {
        transform: translateX(.3rem);
        filter: drop-shadow(10px 2px 3px white);
    }

    to {
        transform: translateX(0);
    }
} */

@media (max-width: 563px) {
    .cursor {
        display: none;
    }
}

.colorText {
    font-size: 72px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bgText {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .fadeInOut:not(.slideright) {
    animation-name: fade !important;
    animation-duration: 3s;
    transition: opacity 3s ease;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
} */